@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Lexend');

#root {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    font-family: Lexend, sans-serif;
}

.list-style-disc {
    list-style: disc;
}

@media screen {
    .screen {
        &-no-show {
            display: none;
        }
    }
}

@media print {
    .print {
        &-no-shadow {
            box-shadow: none;
        }

        &-no-border {
            border: none;
        }

        &-no-show {
            display: none;
        }

        &-bg-none {
            background: none;
        }
    } 
}